<!-- preloader start -->
    
<div id="ht-preloader">
    <div class="loader clear-loader">
      <div class="loader-inner">
        <svg viewBox="0 0 80 80">
          <rect x="8" y="8" width="64" height="64"></rect>
        </svg>
      </div>
    </div>
  </div>
  
  <!-- preloader end -->

  
  <!--header start-->
  
  <header class="site-header bg-dark navbar-dark">
    <div id="header-wrap">
      <div class="container">
        <div class="row">
          <!--menu start-->
          <div class="col d-flex align-items-center justify-content-between"> <a class="navbar-brand logo text-white h2 mb-0" href="index-2.html">
                Boots<span class="text-white font-weight-bold">Land.</span>
              </a>
            <nav class="navbar navbar-expand-lg ml-auto mr-auto">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item"> <a class="nav-link " href="./">Home</a> </li>
                  <li class="nav-item"> <a class="nav-link " href="profile">Profile</a> </li>
                  <li class="nav-item"> <a class="nav-link " href="portfolio">Portfolio</a> </li>
                  <li class="nav-item"> <a class="nav-link " href="blogs">Blog</a> </li>
              
                </ul>
              </div>
            </nav> <a class="btn btn-light ml-8 d-none d-lg-block" href="#">Buy Now</a> 
          </div>
          <!--menu end-->
        </div>
      </div>
    </div>
  </header>
  
  <!--header end-->